
.pagination-pointed .pagination-pointed-button, .pagination-pointed .current, .pagination-pointed .pagination-previous {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #2c3840;
  color: #fff;
  outline: 0;
  text-decoration: none;
  transition: all 0.2s linear;
}

.pagination-pointed .pagination-pointed-button:hover, .pagination-pointed .current:hover, .pagination-pointed .pagination-previous:hover {
  background-color: #41525e;
}

.pagination-pointed .current {
  background: dodgerblue;
}

.pagination-pointed .current:hover {
  background-color: #0077ea;
}

.pagination-pointed .pagination-next a {
  border-radius: 4px 0 0 4px;
  margin-right: 18px;
}

.pagination-pointed .pagination-next a:hover::after {
  border-left: 17px solid #41525e;
}

.pagination-pointed .pagination-next a::after {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #2c3840;
  transition: all 0.2s linear;
}

.pagination-pointed .pagination-previous {
  border-radius: 0 4px 4px 0;
  margin-left: 18px;
}

.pagination-pointed .pagination-previous:hover::after {
  border-right: 17px solid #41525e;
}

.pagination-pointed .pagination-previous::before {
  content: "";
}

.pagination-pointed .pagination-previous::after {
  content: "";
  position: absolute;
  top: 0;
  left: -18px;
  width: 0;
  height: 0;
  border-bottom: 17px solid transparent;
  border-top: 17px solid transparent;
  border-right: 17px solid #2c3840;
  transition: all 0.2s linear;
}


