@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Outfit&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

.preview-card {
  max-width: 100%;
  height: 400px;
  background: transparent; 
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
/*  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55); */
	margin-right:-40px;
	border-bottom: 2px solid #FDE7D6;
}

.preview-card_left {
  width: 40%;
  height: 400px;
  float: left;
  overflow: hidden;
  background: transparent;
}

.preview-card_left img {
  width: 100%;
  height: auto;
  border-radius: 10px 0 0 10px; 
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;  
  position: relative;
}
.preview-card_right {
  width: 60%;
  float: left;
  background: #352E27;
  height: 400px;
  border-radius: 0 10px 0 0;
  -webkit-border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
}
div.preview-card_right h2 {
  color: #FFC0C0;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  text-align: left;
  font-size: 40px;
  margin: 30px 0 0 40px;
  padding: 0;
  letter-spacing: 1px;
}
  
div.preview-card_right__details > ul > li > span > a {
    color: #38220F;
    text-decoration:none;
    letter-spacing: 1.5px;
}
div.preview-card_right__details > ul > li > span > a:hover {
    color: #967259;
    text-decoration:none;
    }
.preview-card_right__details ul {
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 10px 0 0 0;
}
.preview-card_right__details ul li {
  display: inline;
  color: #e3e3e3;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 0 10px 0 0;
}


.preview-card_right__details ul li > i {
  display: inline;
  color: #e3e3e3;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0 20px 0 0;
}

.preview-card_right__review {
  text-overflow: clip;
  }
.preview-card_right__review p {
  color: #FFF9F4;
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  padding: 0;
  letter-spacing: 1px;
  margin: 10px 40px 10px 40px;
  line-height: 20px;
}
.preview-card_right__review h5 {
  color: #FFF9F4;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  padding: 0;
  letter-spacing: 1px;
  margin: 30px 40px 10px 40px;
  line-height: 20px;
}
.preview-card_right__review a {
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  padding: 0;
  color: #FFC0C0;
  margin: 0 0 0 40px;
}
.preview-card_right__button {
  padding: 0;
  margin: 40px 0 0 40px;
}

div.preview-card_right a {
  color: #FFC0C0;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  text-align: left;
  }
  
.preview-card_right__button a {
  color: #FFC0C0;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  border: 4px solid #FFC0C0;
  padding: 10px 10px 10px 40px;
  font-size: 12px;
  background-image: url(http://filedn.com/lUQCbgo5fM6807TtJUya1n8/arrow/bubblegum.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  border-radius: 6px;
  transition-property: all;
  transition-duration: 0.5s;
}
.preview-card_right__button a:hover {
  color: #38220F;
  background-color: #FFC0C0;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}