@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");

body .tag-card {
  font-family: "Fredoka", sans-serif;
/*  position: absolute; */
/*  top: 50%; */
/*  left: 50%; */
/*  transform: translate(-50%, -50%); */
}

.tag-card {
  display: flex;
/*  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); */
  max-width: 260px;
  border-radius: 10px;
  position: relative;
/*  margin: 15px; */
  transition: 0.3s all ease-in-out;
  border: 1px solid #eeeeee;
}
.tag-card > div {
  padding: 0;
  transition: 0.3s all ease-in-out;
  display: flex;
  align-items: center;
}
.tag-card .tag-icon {
  background-color: #000000;
  color: #ffffff;
/*  font-size: 20px; */
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
/*  box-shadow: 5px 0px 12px -4px rgba(0, 0, 0, 0.5); */
  z-index: 1;
}
.tag-card .tag-text {
  padding: 10px 10px;
  background-color: #FF9774;
  color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 18px;
  max-width: auto;
}
.tag-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.tag-card:hover .tag-text {
  background-color: #29C1F4;
  background-image: radial-gradient(#96e1fa, #2ac1f4);
  color: #000000;
}
