/*
Theme Name: Agile CSS
Theme URI: https://github.com/majalinet/Agile-CSS
Author: the EITO team
Author URI: https://www.europeitoutsourcing.com/
Description: This project has one main purpose to use as fewer resources as possible Most templates are built using Bootstrap, Jquery, Font awesome, and many other resources and that affects the page load speed, built by Europe IT Outsourcing company https://www.europeitoutsourcing.com http://agilecss.com
Version: 1.2
Text Domain: agilecss
Tags: one-column, flexible-header, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, rtl-language-support, sticky-post, threaded-comments, translation-ready

*/
/*!
 * Agile CSS Framework (https://www.europeitoutsourcing.com/)
 * Copyright 2018-2020 Kim Majali and Contributers
 * Copyright 2018-2020 Europe IT Outsourcing company.
 * Licensed under MIT (https://github.com/majalinet/Agile-CSS/blob/master/LICENSE)
 */

 @-ms-viewport {
  width: device-width;
}

/*
  @font-face {
    font-family: montserrat;
    src: url(fonts/montserrat-hairline.otf);
    }
  */

/* Varibles*/

:root {
  --color-1: #083c5c;
  --color-2:#4a4e69;
  --dark: #222225;
  --grey: #ccc;
  --white: #fff;
  --danger: #cc3a3a;
  --info: #1191b8;
  --success: #0abfa4;
  --warning: #bda06a;
  --luxury:#4b2f5a;
  --body-bg: #000;
  --body-color: #111;
  --light-grey: #f6f6f6;
  --fontweight: 300;
  --fontweight-heading: 300;
  --font-size-mobile: 12px;
  --font-size-desktop: 16px;
  --color-1-rgb:8, 60, 92;
  --color-2-rgb:74, 78, 105;
  --dark-rgb: 34, 34, 37;
  --grey-rgb: 204, 204, 204;
  --white-rgb: 255, 255, 255;
  --danger-rgb: 204, 58, 58;
  --info-rgb: 17, 145, 184;
  --success-rgb: 10, 191, 164;
  --warning-rgb:189, 160, 106;
  --luxury-rgb:75, 47, 90;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  font-size: var(--font-size-mobile, 12px);
}

@media (min-width: 992px) {
  html {
    font-size: var(--font-size-desktop, 16px);
  }
}

body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: var(--fontweight, 400);
  line-height: 1.5;
  text-align: justify;
  background-color: #fff;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
}

ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
 
.smaller {
  font-size: 90%;
}

.small {
  font-size: 80%;
}

.extra-small {
  font-size: 70%;
}

a {
  color: var(--color-1, black);
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: var(--grey, grey);
  text-decoration: underline;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.auto-overflow-x {
  overflow-x: auto;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6 {
  margin: 0 0 0.5rem 0;
  font-family: inherit;
  font-weight: var(--fontweight-heading, 300);
  line-height: 1.2;
  color: var(--color-1, black);
}

h1, .h1 {
  font-size: 2.7rem;
}

h2, .h2 {
  font-size: 2.2rem;
}

h3, .h3 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1.7rem;
}

h5, .h5 {
  font-size: 1.4rem;
}

h6, .h6 {
  font-size: 1.2rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: 5rem;
  line-height: 1.2;
}

.display-2 {
  font-size: 4rem;
  line-height: 1.2;
}

.display-3 {
  font-size: 3rem;
  line-height: 1.2;
}

.display-4 {
  font-size: 2.5rem;
  line-height: 1.3;
}

.display-5 {
  font-size: 2rem;
  line-height: 1.3;
}

.display-6 {
  font-size: 1.5rem;
  line-height: 1.3;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-400 {
  font-weight: 400;
}
.font-weight-600 {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* fancy title */

.fancy-title.title-dotted-border {
  background: url(../img/fabric-dark.png) center repeat-x;
}

.title-center {
  text-align: center;
}

.fancy-title {
  position: relative;
  margin-bottom: 1.8rem;
}



.fancy-title h1, .fancy-title h2, .fancy-title h3, .fancy-title h4, .fancy-title h5, .fancy-title h6 {
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 0 15px;
  margin: 1.5rem 0;
}

.short-line {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.short-line:after {
  display: inline-block;
  margin: 0 0 8px 20px;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: #bbb;
  width: 10%;
}

.short-line:before {
  display: inline-block;
  margin: 0 20px 8px 0;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: #bbb;
  width: 10%;
}

.bordered {
  border: 2px solid #dee2e6;
  border-color: var(--color-1, black);
  display: inline;
  padding: 0.4rem;
}

.bordered-bottom {
  border-bottom: 1px solid #dee2e6;
  border-color: var(--color-1, black);
  display: inline;
  padding: 0.4rem;
  line-height: 150%;
}

.bordered-black {
  border-color: black;
}
.bordered-grey {
  border-color:var(--grey, grey);
}

  
.bordered-top {
  border-top: 1px solid #dee2e6;
  border-color: var(--color-1, black);
  display: inline;
  padding: 0.4rem;
  line-height: 150%;
}

.bordered-top-light-grey {
  border-top: 1px solid #dee2e6;
  border-color: var(--light-grey, black);
  display: inline;
  padding: 0.4rem;
  line-height: 150%;
}

.bordered-left{
  border-left: 6px solid var(--color-1, black);
}
.bordered-left-color-2{
  border-left: 6px solid var(--color-2, black);
}

.bordered-left-info{
  border-left: 6px solid var(--info, black);
}
.bordered-left-success{
  border-left: 6px solid var(--success, black);
}

.bordered-left-danger{
  border-left: 6px solid var(--danger, black);
}
.bordered-left-grey{
  border-left: 6px solid var(--grey, black);
}

h1 .bordered::after {
  color: red;
  display: block;
}

.heading-box {
  margin: 2.5rem 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.test-box div, .test-box header, .test-box main, .test-box section, .test-box footer, .test-box side {
  min-height: 50px;
  border-style: solid;
  border-width: 1px;
  vertical-align: middle;
  text-align: center;
  background-color: var(--light-grey);
}

.margin-left-right-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
  height: auto;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  min-height: 25%;
}

.h-50 {
  min-height: 50%;
}

.h-75 {
  min-height: 75%;
}

.h-100 {
  min-height: 100%;
}

.h-150 {
  min-height: 150%;
}


.container, .container-fluid, .container-half-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .container-half-fluid {
    max-width: 85%;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*  margin-right: -15px;
    margin-left: -15px; */
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters>.col, .no-gutters>[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-4, .col-sm-6, .col-sm-8, .col-sm-12, .col-sm, .col-sm-auto, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-8, .col-md-9, .col-md-10, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .lg-order-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .lg-order-last {
    -ms-flex-order: 13;
    order: 13;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Dispaly */

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-table {
  display: table;
}

.d-table-row {
  display: table-row;
}

.d-table-cell {
  display: table-cell;
}

.d-flex {
  display: -ms-flexbox;
  display: flex;
}

.d-inline-flex {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-row {
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.flex-fill {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.flex-grow-0 {
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.flex-grow-1 {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.flex-shrink-0 {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.flex-shrink-1 {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.justify-content-start {
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.justify-content-end {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-content-center {
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.align-items-start {
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-items-end {
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-items-center {
  -ms-flex-align: center;
  align-items: center;
}

.align-items-baseline {
  -ms-flex-align: baseline;
  align-items: baseline;
}

.align-items-stretch {
  -ms-flex-align: stretch;
  align-items: stretch;
}

.align-content-start {
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.align-content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.align-content-center {
  -ms-flex-line-pack: center;
  align-content: center;
}

.align-content-between {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.align-content-around {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.align-self-auto {
  -ms-flex-item-align: auto;
  align-self: auto;
}

.align-self-start {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.align-self-end {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.align-self-center {
  -ms-flex-item-align: center;
  align-self: center;
}

.align-self-baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.align-self-stretch {
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.letter-spacing-0 {
  letter-spacing: 0;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

pre code {
  display: block;
  padding: 20px;
}



/* Map */

.par {
  width: 100%;
  height: auto;
  position: relative;
}

.map {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  pointer-events: none;
}

.cont {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Icons */
.icon-xxs {
  width: 12px;
  height: 12px;
}

.icon-xs14 {
  width: 14px;
  height: 14px;
}

.icon-xs {
  width: 16px;
  height: 16px;
}

.icon-s {
  width: 32px;
  height: 32px;
}
.icon-ssm {
width: 38px;
height: 38px;
}
.icon-sm {
  width: 48px;
  height: 48px;
}

.icon-m {
  width: 64px;
  height: 64px;
}

.icon-ml {
  width: 96px;
  height: 96px;
}

.icon-lg {
  width: 128px;
  height: 128px;
}

.icon-xl {
  width: 192px;
  height: 192px;
}

.icon-color-1-bg {
  background-color: var(--color-1, red);
  fill: white;
}

.icon-color-1-fill {
  fill: var(--color-1, red);
}

.icon-color-2-bg {
  background-color: var(--color-2, red);
  fill: white;
}

.icon-color-2-fill {
  fill: var(--color-2, red);
}

.icon-color-white-fill {
  fill: var(--white, red);
}


.icon-info-bg {
  background-color: var(--info, green);
  fill: white;
}

.icon-info-fill {
  fill: var(--info, green);
}

.icon-success-bg {
  background-color: var(--success, blue);
  fill: white;
}

.icon-success-fill {
  fill: var(--success, blue);
}

.icon-danger-bg {
  background-color: var(--danger, red);
  fill: white;
}

.icon-danger-fill {
  fill: var(--danger, red);
}


.icon-black-bg {
  background-color:black;
}

.icon-black-fill {
  fill: black;
}

.icon-dark-bg {
  background-color: var(--dark, red);
  fill: white;
}

.icon-dark-fill {
  fill: var(--dark, red);
}
.icon-white-bg {
  background-color: white;
  fill: black;
}

.icon-white-fill {
  fill: white;
}
.icon-box {
  display: inline-block;
  padding: 0.5rem;
}

/*dividers */

hr {
  margin: 3% 0 5% 0;
  margin-left: auto;
  margin-right: auto;
}

hr.width-50 {
  width: 50%;
}

hr.width-short {
  width: 40px;
}

/*Quotes */

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17px;
  font-weight: 400;
  border-left: 7px solid var(--color-1, black);
}

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: var(--color-1, black);
}

/*Pagination */

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.btn-link, .page-link, .page-link:focus, .page-link:hover {
  color: var(--color-1, black);
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: var(--color-1, black);
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link, .page-link:focus, .page-link:hover {
  color: #fff;
  background-color: var(--color-1, black);
  border-color: var(--color-1, black);
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: var(--color-1, black);
  border-color: var(--color-1, black);
}

/* Buttons */

button, .button, .accordion .accordionBlock > label, .tabs > label {
  background-color: var(--color-1);
  border: none;
  color: white;
  font-weight: 400;
  padding: 0.5rem 0.95rem;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin: 0.5rem 0.1rem;
}

.button{
  padding: 0.37rem 0.95rem;
}

.button-s {
  font-size: 12px;
}

.button-m {
  font-size: 18px;
}

.button-lg {
  font-size: 26px;
  font-weight: 200;
}

button:hover {
  background-color: var(--color-1, black);
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.button-w-25 {
  width: 250px;
}

.button-w-50 {
  width: 50%;
}

.button-w-100 {
  width: 100%;
}

/*badge*/

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

/* Alerts & Mesages*/

.msg {
  display: block;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 14px;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}

.clear-right {
  clear: right;
}

.clear-left {
  clear: left;
}

.clear-both {
  clear: both;
}

.clear-fix, .overflow-auto {
  overflow: auto;
}

.rounded {
  border-radius: 7px;
}
.rounded-0 {
  border-radius: 0px;
}
.top-rounded {
  border-radius: 7px 7px 0 0;
}
.bottom-rounded {
  border-radius: 0 0 7px 7px;
}
.right-rounded {
  border-radius: 0 7px 7px 0;
}
.left-rounded {
  border-radius: 7px 0 0 7px;
}

.circle {
  border-radius: 50%;
}
.top-circle {
  border-radius: 50% 50% 0 0;
}
.bottom-circle {
  border-radius: 0 0 50% 50%;
}
.right-circle {
  border-radius: 50% 0 0 50%;
}
.left-circle {
  border-radius: 0 50% 50% 0;
}

/*tables*/

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  border-top: none;
  font-weight: 600;
  color: var(--color-1, lightgray);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.01);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.01);
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}

.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 2px;
}

.table-bordered-color-1 {
  border: 1px solid var(--color-1, lightgray);
}

.table-bordered-color-1 td, .table-bordered-color-1 th {
  border: 1px solid var(--color-1, lightgray);
}

.table-bordered-color-1 thead td, .table-bordered-color-1 thead th {
  border-bottom: 2px solid var(--color-1, lightgray);
}

/* colors */

.color-1, .color-1-hover:hover {
  color: var(--color-1, black);
}

.color-2, .color-2-hover:hover {
  color: var(--color-2, black);
}

.success, .success-hover:hover {
  color: var(--success, green);
}

.info, .info-hover:hover {
  color: var(--info, blue);
}

.danger, .danger-hover:hover {
  color: var(--danger, red);
}

.dark, .dark-hover:hover {
  color: var(--color-dark, rgba(41, 40, 40, 0.707));
}

.grey, .grey-hover:hover {
  color: var(--grey, rgba(204, 204, 204, 1));
}

.light-grey, .light-grey-hover:hover {
  color: var(--light-grey, rgba(128, 128, 128, 0.808));
}

.white, .white-hover:hover {
  color: white;
}

.black, .black-hover:hover {
  color: black;
}

.color-gradient, .color-gradient-hover:hover {
  background: linear-gradient( to top, var(--color-1, black) 0, var(--color-2, black) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-color-1, .bg-color-1-hover:hover {
  background-color: var(--color-1, black);
}

.bg-color-2, .bg-color-2-hover:hover {
  background-color: var(--color-2, black);
}

.bg-color-gradient, .bg-color-gradient-hover:hover {
  background-color: #fc636b;
  background: linear-gradient(to right, #fc636b 0, #ff6d92 60%, #fd9a00 100%);
  background: linear-gradient( to right, var(--color-1, black) 0, var(--color-2, black) 100%);
}

.bg-success, .bg-success-hover:hover {
  background-color: var(--success, green);
}


.bg-info, .bg-info-hover:hover {
  background-color: var(--info, blue);
}

.bg-danger, .bg-danger-hover:hover {
  background-color: var(--danger, red);
}

.bg-dark, .bg-dark-hover:hover {
  background-color: var(--dark, darkgray);
}

.bg-black, .bg-black-hover:hover {
  background-color: var(--black, #000);
}

.bg-grey, .bg-grey-hover:hover {
  background-color: var(--grey, grey);
}

.bg-white, .bg-white-hover:hover {
  background-color: var(--white, white);
}

.bg-light-grey, .bg-lite-grey, .bg-light-grey-hover:hover {
  background-color: var(--light-grey, grey);
}

.bga-color-1, .bga-color-1-hover:hover {
  background-color: rgba(var(--color-1-rgb), 0.1);
  color: var(--color-1, black);
}
.bga-color-2, .bga-color-2-hover:hover {
  background-color: rgba(var(--color-2-rgb), 0.1);
  color: var(--color-2, black);
}
.bga-info, .bga-info-hover:hover {
  background-color: rgba(var(--info-rgb), 0.1);
  color: var(--info, blue);
}.bga-dark, .bga-dark-hover:hover {
  background-color: rgba(var(--dark-rgb), 0.1);
  color: var(--dark, darkgray);
}.bga-grey, .bga-grey-hover:hover {
  background-color: rgba(var(--grey-rgb), 0.1);
  color: var(--grey, grey);
}.bga-danger, .bga-danger-hover:hover {
  background-color: rgba(var(--danger-rgb), 0.1);
  color: var(--danger, red);
}
.bga-success, .bga-success-hover:hover {
  background-color: rgba(var(--success-rgb), 0.1);
  color: var(--success, green);
}


.warning{
  color: var(--warning, yellow);
}

.bg-warning, .bg-warning-hover:hover {
  background-color: var(--warning, black);
}

.bga-warning, .bga-warning-hover:hover {
  background-color: rgba(var(--warning-rgb), 0.1);
  color: var(--warning, black);
}

.outline-warning {
  border: 1px solid var(--warning, black);
}

.bordered-left-warning{
  border-left: 6px solid var(--warning, black);
}



.luxury{
  color: var(--luxury, yellow);
}

.bg-luxury, .bg-luxury-hover:hover {
  background-color: var(--luxury, black);
}

.bga-luxury, .bga-luxury-hover:hover {
  background-color: rgba(var(--luxury-rgb), 0.1);
  color: var(--luxury, black);
}

.outline-luxury {
  border: 1px solid var(--luxury, black);
}


.bordered-left-luxury{
  border-left: 6px solid var(--luxury, black);
}

.brightness-150, .brightness-150-hover:hover {
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
}

.brightness-100, .brightness-100-hover:hover {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.brightness-66, .brightness-66-hover:hover {
  -webkit-filter: brightness(66%);
  filter: brightness(66%);
}

.brightness-33, .brightness-33-hover:hover {
  -webkit-filter: brightness(33%);
  filter: brightness(33%);
}

/* outlined */

.outline-color-1 {
  border: 1px solid var(--color-1, black);
}

.outline-color-2 {
  border: 1px solid var(--color-2, black);
}

.outline-color-dark, .outline-dark {
  border: 1px solid var(--color-dark, black);
}

.outline-color-grey, .outline-grey {
  border: 1px solid var(--color-grey, black);
}

.outline-color-info, .outline-info {
  border: 1px solid var(--info, black);
}

.outline-color-success, .outline-success {
  border: 1px solid var(--success, black);
}

.outline-color-danger, .outline-danger {
  border: 1px solid var(--danger, black);
}

.outline-light-grey {
  border: 1px solid var(--light-grey, black);
}

.outline-color-white, .outline-white {
  border: 1px solid var(--white, white);
}
.outline-color-black, .outline-black {
  border: 1px solid black;
}

.invalid {
  border: 1px solid var(--danger, black);
}

/* Images */

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

/* reponsive embed */

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

/*Carousel*/

.carousel {
  text-align: center;
  padding: 1em 0;
  height: auto;
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.carousel .slides {
  text-align: center;
  width: 400%;
  left: 0;
  padding-left: 0;
  padding-top: 0.2em;
  overflow: hidden;
  list-style: none;
  position: relative;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}

.carousel .slides li {
  width: 25%;
  position: relative;
  float: left;
}

.carousel-small-img li img {
  border-radius: 50%;
  vertical-align: middle;
}

.carousel li span.author {
  margin-top: 0.5em;
  font-size: 1.2em;
  color: #777777;
  display: block;
}

.carousel .slidesNavigation {
  display: block;
  list-style: none;
  text-align: center;
  bottom: 1rem;
  position: absolute;
  width: 130px;
  /*This width  is the addition of the width of all the navigations dots - So in this case is   104 because the navigation dots are 26px (width:10px and 6px marginleft + 6 px marginright) and there are 4 dots so 4x26=104 */
  left: 50%;
  margin-left: -52px;
  /*adjusting the centering by applying a negative margin of half of the width*/
}

.carousel .slidesNavigation-2 {
  /* width: 50px; */
  left: 53%;
}

.carousel input {
  display: none;
}

.carousel .slidesNavigation label {
  float: left;
  margin: 6px;
  display: block;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px #2980b9;
  font-size: 0;
}

/* You have to repeat this with each slide, 100/slides-num
*/

.radio-1:checked~.slides {
  transform: translateX(0%);
}

.radio-2:checked~.slides {
  transform: translateX(-25%);
}

.radio-3:checked~.slides {
  transform: translateX(-50%);
}

.radio-4:checked~.slides {
  transform: translateX(-75%);
}

.crrousel .slidesNavigation label:hover {
  cursor: pointer;
}

/* You have to repeat this with each slide/dot */

.carousel .radio-1:checked~.slidesNavigation label#dotForRadio-1, .carousel .radio-2:checked~.slidesNavigation label#dotForRadio-2, .carousel .radio-3:checked~.slidesNavigation label#dotForRadio-3, .carousel .radio-4:checked~.slidesNavigation label#dotForRadio-4 {
  background: var(--color-1, black);
}

/* Gallary Box*/

.gallary-box {
  line-height: 1.5rem;
  margin: 0;
  padding: 1rem;
}

.gallary-box img {
  max-width: 100%;
  height: auto;
}

.key-features ul, .features ul, .testimonials ul, .team ul, .portfolio ul, .gallary-box ul, .list-style-none {
  list-style: none;
  padding: 0;
}

.gallery-box-photo-container .gallery-box-thumbnail-image>img {
  width: 5rem;
}

.gallery-box-photo-container img {
  max-width: 100%;
  margin: 3px;
}

.gallery-box-main-image {
  position: absolute;
  visibility: hidden;
  top: 1rem;
  left: 1rem;
  margin-right: 8px;
}

.gallery-box-photo-container {
  padding: 10px;
  margin-bottom: 1rem;
}

.gallery-box-thumbnail-image {
  display: inline-block;
  margin: 5px;
}

.shadow, .shadow-hover:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2, .shadow-2-hover:hover {
  border: solid 1px #f5f5f5;
  box-shadow: 3px 3px 2px #aaaaaa;
}
.shadow-3, .shadow-3-hover:hover {
 border: solid 1px #f5f5f5;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.shadow-4, .shadow-4-hover:hover, .hover-shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.shadow-color, .shadow-color-hover:hover {
  box-shadow: 0 1px 3px rgba(var(--color-1-rgb, black)), 0 1px 2px rgba(var(--color-1-rgb, black));
}

.shadow-color-2, .shadow-color-2-hover:hover {
  border: solid 1px rgba(var(--color-1-rgb, black));
  box-shadow: 3px 3px 2px var(--color-1, black);
}
.shadow-color-3, .shadow-color-3-hover:hover {
 border: solid 1px #f5f5f5;
box-shadow: 0 5px 15px rgba(var(--color-1-rgb, black));
}

.shadow-color-4, .shadow-color-4-hover:hover {
  box-shadow: 0 10px 20px rgba(var(--color-1-rgb, black)), 0 10px 10px rgba(var(--color-1-rgb, black));
}

/* Light Box */

.light-box-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.light-box-overlay:target, .light-box-overlay.is-active {
  visibility: visible;
}

.light-box-content {
  max-height: 100%;
  overflow: auto;
}

:target>.light-box-content, .is-active>.light-box-content {
  -webkit-animation: 0.4s ease-out 0.2s both;
  animation: 0.4s ease-out 0.2s both;
  -webkit-animation-name: inherit;
  animation-name: inherit;
}

.light-box-html {
  padding: 2em;
  max-width: 42em;
  background-color: #fff;
}

.light-box-figure {
  display: none;
  margin: 1.5em;
}

:target>.light-box-figure, .is-active>.light-box-figure {
  display: block;
}

.light-box-figure img {
  display: block;
  height: 0;
}

.light-box-figcaption {
  color: #fff;
}

.light-box-image {
  max-width: 100%;
  background-size: 100%;
}

.light-box-control {
  position: absolute;
  width: 3em;
  height: 3em;
  background-position: center center;
  background-size: cover;
  text-indent: -999em;
}

.light-box-close {
  top: 1em;
  right: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%2032%2032%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M21.7%2010.3c-0.4-0.4-1-0.4-1.4%200l-4.3%204.3-4.2-4.2c-0.4-0.4-1-0.4-1.4%200-0.4%200.4-0.4%201%200%201.4l4.2%204.2-4.3%204.3c-0.4%200.4-0.4%201%200%201.4%200.4%200.4%201%200.4%201.4%200l4.3-4.3%204.2%204.2c0.4%200.4%201%200.4%201.4%200%200.4-0.4%200.4-1%200-1.4l-4.2-4.2%204.3-4.3C22.1%2011.3%2022.1%2010.7%2021.7%2010.3zM16%200C7.2%200%200%207.2%200%2016s7.2%2016%2016%2016c8.8%200%2016-7.2%2016-16S24.8%200%2016%200zM16%2030C8.3%2030%202%2023.7%202%2016S8.3%202%2016%202s14%206.3%2014%2014S23.7%2030%2016%2030z%22%2F%3E%3C%2Fsvg%3E");
}

.light-box-prev {
  left: 2em;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.light-box-next {
  right: 2em;
}

.light-box-untarget {
  position: fixed;
  top: 0;
}

.light-box-prev, .light-box-next {
  top: 50%;
  margin-top: -1.5em;
  opacity: 0.2;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2244.1%22%20height%3D%2294.7%22%20viewBox%3D%220%200%2044.1%2094.7%22%20enable-background%3D%22new%200%200%2044.088%2094.67%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M44.1%2047.3L1.5%2094.7%200%2093.3l41.4-46L0%201.3%201.5%200%2044.1%2047.3z%22%2F%3E%3C%2Fsvg%3E");
}

.light-box-prev:hover, .light-box-prev:focus, .light-box-next:hover, .light-box-next:focus {
  opacity: 1;
}

.light-box img {
  margin: 2px;
}

/*Flexbox Image Gallary */

.flex-gallery-container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}

.flex-gallery-image-container {
  margin: 3px;
  height: 310px;
  flex: 1 1 auto;
}

.flex-gallery-image-container img {
  display: block;
  height: 100%;
  min-width: 100%;
  max-width: 372px;
  object-fit: cover;
}

@media (max-width: 800px) {
  .flex-gallery-image-container img {
    max-width: 310px;
  }
}

@media (max-width: 650px) {
  .flex-gallery-container {
    width: 100%;
    margin: 0;
  }
  .flex-gallery-image-container {
    width: 100%;
    max-height: 40vh;
    margin: 3px 0;
  }
}

/* Masonry Grid */

.masonry-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-auto-rows: 50px;
  grid-auto-flow: row dense;
  grid-gap: 1px;
}

.masonry-container-2col {
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: auto;
}

.masonry-container-1col {
  grid-template-columns: repeat(auto-fit, minmax(1200px, 1fr));
  grid-auto-rows: auto;
}

.masonry-large, .masonry-medium, .masonry-small {
  display: flex;
  height: 100%;
  width: 100%;
  grid-column: auto / span 1;
}

.masonry-large {
  grid-row: auto / span 7;
}

.masonry-medium {
  grid-row: auto / span 6;
}

.masonry-small {
  grid-row: auto / span 5;
}

.masonry-gallery-img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Justify row content*/

.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.align-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
}

/* Forms */

.form-group {
  margin-bottom: 1rem;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}

.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row>.col, .form-row>[class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-check-inline {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}

.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: 0.3125rem;
  margin-left: 0;
}

input::placeholder, textarea::placeholder {
  color: grey;
  font-size: 1rem;
}

[type="date"] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 98% 50% no-repeat;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* Rating */

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating>input {
  display: none;
}

.rating>label {
  position: relative;
  width: 1.1em;
  font-size: 2rem;
  color: #ffd700;
  cursor: pointer;
}

.raiting-c-1 label {
  color: var(--color-1, grey);
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating>label:hover:before, .rating>label:hover~label:before {
  opacity: 1;
}

.rating>input:checked~label:before {
  opacity: 1;
}

.rating:hover>input:checked~label:before {
  opacity: 0.4;
}

.parallax-img {
  background-image: url("../img/img_parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body, html {
  height: 100%;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
.justified {
  text-align: justify;
}

.content-in-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Tabs */

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs label {
  order: 1;
  display: block;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked+label {
  background-color: white;
  color: var(--color-1, black);
  border: 1px solid var(--color-1, black);
}

.tabs input[type="radio"]:checked+label+.tab {
  display: block;
}

@media (max-width: 45em) {
  .tabs .tab, .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
  }
}

/* Accordion */

.accordion {
  width: 100%;
  margin: auto;
}

.accordion input[type="radio"] {
  display: none;
}

.accordion input[type="radio"]~.accordionContent {
  display: none;
}

.accordion input[type="radio"]:checked~.accordionContent {
  display: block;
}

.accordion .accordionBlock {
  margin-bottom: 5px;
  display: block;
  width: 100%;
  float: left;
}

.accordion .accordionBlock .accordionContent {
  border: 1px solid #eee;
  border-top: 0 none;
  width: 100%;
  float: left;
  padding: 10px;
  font-weight: 400;
}

.accordion .accordionBlock label {
  width: 100%;
  margin-bottom: 0;
  float: left;
}

.accordion input[type="radio"]:checked~label {
  background-color: white;
  color: var(--color-1, black);
  border: 1px solid var(--color-1, black);
}

/*-- let's have some fun with animation for accordion content --*/

.accordion .accordionBlock .accordionContent {
  animation: 1s fadeInAccordion;
  animation-fill-mode: forwards;
  visibility: hidden;
  font-weight: var(--fontweight, 200);
}
.accordionContent ul{
  padding-left: 0;
}
@keyframes fadeInAccordion {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* Modal */

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 0.25s ease;
  z-index: 10;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked+.modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked+.modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top 0.25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after, .modal__close:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after, .modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

.modal__inner p img {
  max-width: 200px;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}

/* Promo Boxes */

.promo-box {
  margin: 3rem 0;
  padding: 4rem 3rem;
}

.promo-box-s {
  margin: 1.5rem 0;
  padding: 2rem 1.5rem;
}

/* Main Menu */

.main-menu li {
  list-style: none;
}

.main-menu a {
  text-decoration: none;
}

.main-menu {
  width: 100%;
  margin: 0px auto;
  display: table;
  position: relative;
}

.main-nav {
  width: 100%;
  display: table;
}

.logo {
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

nav {
  width: auto;
  float: right;
}

nav ul {
  display: table;
  float: right;
}

nav ul li {
  float: left;
}

nav ul li:last-child {
  padding-right: 0;
}

nav ul li a {
  color: var(--color-1, black);
  font-size: 1.1rem;
  padding: 1rem;
  display: inline-block;
  /* transition: all 0.5s ease 0s; */
}

nav ul li a:hover {
  /* background-color: var(--color-1, black); */
  /* color: white; */
  color: var(--dark, grey);
  /* font-size: 120%; */
  /* font-weight: 400; */
}

.nav-bg-hover ul li a:hover {
  background-color: var(--color-1, black);
  color: white;
}

.nav-top-border-hover ul li a:hover {
  border-top: 2px solid var(--color-1, black);
  margin-top:-2px;
}


.nav-bottom-border-hover ul li a:hover {
  border-bottom: 2px solid var(--color-1, black);
  margin-bottom:-2px;
}

nav ul li:hover {
  border-color: white;
}

.toggle-menu ul {
  display: table;
  width: 25px;
}

.toggle-menu ul li {
  width: 100%;
  height: 3px;
  background-color: var(--color-1, black);
  margin-bottom: 4px;
}

.toggle-menu ul li:last-child {
  margin-bottom: 0;
}

.main-menu input[type="checkbox"], .main-menu label {
  display: none;
}

@media only screen and (max-width: 980px) {
  .main-nav {
    padding: 20px 0;
  }
  .logo {
    padding: 0;
  }
  .main-menu input[type="checkbox"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: none;
  }
  .main-menu input[type="checkbox"]:fous {
    background: none;
  }
  .main-menu label {
    float: right;
    padding: 15px 0;
    display: inline-block;
    cursor: pointer;
  }
  .main-menu input[type="checkbox"]:checked~nav {
    display: block;
  }
  nav {
    display: none;
    position: absolute;
    right: 0;
    top: 53px;
    background-color: var(--color-1, black);
    padding: 0;
    z-index: 99;
  }
  nav ul {
    width: auto;
  }
  nav ul li {
    float: none;
    padding: 0;
    width: 100%;
    display: table;
  }
  nav ul li a {
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    display: block;
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
  }
}

@media only screen and (max-width: 360px) {
  .main-menu label {
    padding: 5px 0;
  }
  .logo {
    font-size: 20px;
  }
  nav {
    top: 47px;
  }
}

@media only screen and (max-width: 1440px) {
  .main-menu {
    max-width: 95%;
  }
}

@media only screen and (max-width: 480px) {
  .main-menu {
    max-width: 90%;
  }
}

.menu-borderd li {
  border: solid 1px var(--color-1, black);
  margin: 12px;
  padding: 0;
}

.menu-borderd li a {
  padding: 7px;
}

/* Breadcrumb */

.breadcrumb {
  padding: 0;
  font-size: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  border-radius: 0.25rem;
  margin: 1rem 0;
}

.breadcrumb li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  border-radius: 0.25rem;
  margin: 0 0.25rem;
}

.breadcrumb li a::after {
  content: ">";
}

/* Padding and Margin */

.m0 {
  margin: 0;
}

.m03 {
  margin: 0.3rem;
}

.m05 {
  margin: 0.5rem;
}

.m07 {
  margin: 0.7rem;
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 2rem;
}

.m4 {
  margin: 4rem;
}

.m2px {
  margin: 2px;
}

.topmargin {
  margin-top: 50px;
}

.m-v-05 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-v-07 {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.m-v-1, .m-v-1 li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-v-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-v-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m-v-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.m-v-7 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.m-v-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.m-h-03 {
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}

.m-h-05 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.m-h-1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.m-h-2 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.m-h-3 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.m-h-4 {
  margin-right: 4rem;
  margin-left: 4rem;
}

.m-h-7 {
  margin-right: 7rem;
  margin-left: 7rem;
}

.p0 {
  padding: 0;
}

.p05 {
  padding: 0.5rem;
}

.p07 {
  padding: 0.7rem;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.p3 {
  padding: 3rem;
}

.p4 {
  padding: 4rem;
}

.p5 {
  padding: 5rem;
}

.p7 {
  padding: 7rem;
}

.p-v-05 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-v-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-v-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-v-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.p-v-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.p-v-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.p-v-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.p-h-03 {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}

.p-h-05 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.p-h-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.p-h-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.p-h-3 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.p-h-4 {
  padding-right: 4rem;
  padding-left: 4rem;
}


.p-t-05 {
  padding-top: 0.5rem;
}

.p-t-1 {
  padding-top: 1rem;
}

.p-t-2 {
  padding-top: 2rem;
}

.p-t-3 {
  padding-top: 3rem;
}

.p-t-4 {
  padding-top: 4rem;
}
.p-t-8 {
  padding-top: 8rem;
}
.p-b-05 {
  padding-bottom: 0.5rem;
}

.p-b-1 {
  padding-bottom: 1rem;
}

.p-b-2 {
  padding-bottom: 2rem;
}

.p-b-3 {
  padding-bottom: 3rem;
}

.p-b-4 {
  padding-bottom: 4rem;
}
.p-b-6 {
  padding-bottom: 8rem;
}


.m-t-05 {
  margin-top: 1rem;
}
.m-t-1 {
  margin-top: 1rem;
}

.m-t-2 {
  margin-top: 2rem;
}

.m-t-3 {
  margin-top: 3rem;
}

.m-t-4 {
  margin-top: 4rem;
}
.m-t-6 {
  margin-top: 6rem;
}
.m-t-8 {
  margin-top: 8rem;
}
.m-b-05 {
  margin-bottom: 1rem;
}
.m-b-1 {
  margin-bottom: 1rem;
}

.m-b-2 {
  margin-bottom: 2rem;
}

.m-b-3 {
  margin-bottom: 3rem;
}

.m-b-4 {
  margin-bottom: 4rem;
}
.m-b-6 {
  margin-bottom: 8rem;
}
.m-b-8 {
  margin-bottom: 6rem;
}

@media (min-width: 992px) {
  .p-d-1 {
    padding: 1rem;
  }
  .p-d-2 {
    padding: 2rem;
  }
  .m-d-1 {
    margin: 1rem;
  }
  .m-d-2 {
    margin: 2rem;
  }
}

.old-info {
  text-decoration: line-through;
}

.overline {
  text-decoration: overline;
}

.underline {
  text-decoration: underline;
}

.hover-underline:hover {
  text-decoration: underline;
}

.hover-white:hover {
  background-color: var(--white, black);
}

.hover-grey:hover {
  background-color: var(--grey, black);
}




.line-height-1 {
  line-height: 1;
}

.line-height-17 {
  line-height: 1.7;
}

.line-height-2 {
  line-height: 2;
}

/*Theme 2 */

/*
body{ background: #222225; color: white;}
h1, p{ text-align: center;}
p{ font-size: 1.2rem;}
*/

/*
::-webkit-file-upload-button {
  background-color: var(--color-1);
  border: none;
  color: white;
  padding: 0.5rem 0.95rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  margin: 0;
}
*/

.position-static {
  position: static;
}

.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.colored-ul, .indent-ul, .half-indent-ul, .no-indent-ul, .colored-ol, .steps-ol {
  list-style: none;
  text-indent: -0.7em;

}

.no-indent-ul {
  padding: inherit;
}
.half-indent-ul {
  text-indent: -1.5em;
}


.colored-ul li::before {
  content: "Ã¢â‚¬Â¢ ";
  color: var(--color-1, black);
}

.colored-ol {
  counter-reset: my-awesome-counter;
}
.colored-ol li {
  counter-increment: my-awesome-counter;
}
.colored-ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: var(--color-1,black);
  font-weight: 400;
}

.bolded-ol {
  counter-reset: my-bolded-counter;
}
.bolded-ol li {
  counter-increment: my-bolded-counter;
  display: flex;
  margin-bottom: 1rem;
}
.bolded-ol li::before {
  content: "0" counter(my-bolded-counter);
  color: var(--color-1);
  font-weight: 400;
  font-size: 3em;
  margin-right: 0.5rem;
  line-height: 1;
}

.steps-ol li {
  margin: 1.2rem 0 2rem 0;
  padding-top: 1.2em;
  display: block;
  position: relative;
  counter-increment: inst;
  text-indent: 0;
  
}
.steps-ol li::before {
  content: counter(inst);
  background: var(--color-1, black);
  /* background: rgb(var--(color-1-rgb), black) ; */
  /* color: #fff; */
  background-color: rgba(var(--color-1-rgb), 0.1);
  color: var(--color-1, black);
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
  left: -5%;
  top: -0.65em;
  width: 3rem;
  position: absolute;
}

/* Transform Classes */

.rotate-10 {
  -ms-transform: rotate(10deg);
  /* IE 9 */
  -webkit-transform: rotate(10deg);
  /* Safari 3-8 */
  transform: rotate(10deg);
}

.rotate-20 {
  -ms-transform: rotate(20deg);
  /* IE 9 */
  -webkit-transform: rotate(20deg);
  /* Safari 3-8 */
  transform: rotate(20deg);
}

.rotate--10 {
  -ms-transform: rotate(-10deg);
  /* IE 9 */
  -webkit-transform: rotate(-10deg);
  /* Safari 3-8 */
  transform: rotate(-10deg);
}

.rotate--20 {
  -ms-transform: rotate(-20deg);
  /* IE 9 */
  -webkit-transform: rotate(-20deg);
  /* Safari 3-8 */
  transform: rotate(-20deg);
}

/* writing-mode classes */

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.horizontal-tb {
  writing-mode: horizontal-tb;
}

.vertical-rl {
  writing-mode: vertical-rl;
}

.vertical-lr {
  writing-mode: vertical-lr;
}

.drop-caps {
  float: left;
  font-size: 4.7rem;
  line-height: 3.75rem;
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.2rem;
  color: var(--color-1, black);
}

.par-2-cols {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.par-3-cols {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.par-4-cols {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.par-cols-gap-2 {
  -webkit-column-gap: 2.5 rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
}

.par-cols-gap-3 {
  -webkit-column-gap: 3.5 rem;
  -moz-column-gap: 3.5rem;
  column-gap: 3.5rem;
}

.par-cols-rule {
  -webkit-column-rule: 1px solid var(--grey, black);
  -moz-column-rule: 1px solid var(--grey, black);
  column-rule: 1px solid var(--grey, black);
}

.opacity1, .opacity1-hover:hover {
  opacity: 1;
}

.opacity07, .opacity07-hover:hover {
  opacity: 0.7;
}

.opacity05, .opacity05-hover:hover {
  opacity: 0.5;
}

.opacity03, .opacity03-hover:hover {
  opacity: 0.3;
}

.custom-file-upload {
  border: 1px solid var(--grey, #ccc) !important;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: var(--color-1, black) !important;
  background-color: transparent !important;
}

.custom-file-upload input{
  display: none;
  }


.notification-panel{
  z-index: 100;
  position: fixed;
  top:70px;
  right: 15px;
  display: none;
  width: 350px;
  background-color: white;
}


.select-link-style {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  display: inline;
  line-height: 1.2;
}

.select-link-style select {
  padding: 5px;

  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
          text-decoration: underline;
}

.select-link-style select:focus {
  outline: none;
}

.text-decoration-none-onhover:hover{
  text-decoration:none;
}

.border-light-grey{
border-style: solid;
border-color: #ddd;}


.main-nav-white a {
  color: white;
}
.main-nav-white a:hover {
  border-bottom: 2px solid white !important;
  color: white;
}


.desktop-only{
  display: none !important;
}

.mobile-only{
  display: inline-block;
}


@media (min-width: 992px) {

  .desktop-only{
    display: inline-block !important;
  }

  .mobile-only{
    display: none;
  }
}

.height-1lines{
    height:1.4rem;
    overflow:hidden;
}
.height-2lines{
    height:2.8rem;
    overflow:hidden;
}
.height-3lines{
    height:4.8rem;
    overflow:hidden;
}

.unselectable{
  -webkit-user-select: none; 
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


.styled-checkbox {
  width: 2rem;
  height: 2rem;
  -webkit-appearance: none;
     -moz-appearance:    none;
     appearance:         none;
  margin-right: 10px;
  background-color: var(--grey,lightgray);
  outline: 0;
  border: 0;
  display: inline-block;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.styled-checkbox:focus {
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.styled-checkbox:checked {
  background-color: var(--color-1,skyblue);
    text-align: center;
    line-height: 15px;
}


.mx-auto{
margin-right:auto;
margin-left:auto;
}
.my-auto{
margin-top:auto;
margin-bottom:auto;
}



.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black;
}

.tooltip .tooltip-body {
visibility: hidden;
width: 120px;
text-align: center;
padding: 5px 0;
 position: absolute;
z-index: 1;
}

.tooltip2x {
width: 240px !important;
}
.tooltip3x {
width: 360px !important;
}
.tooltip4x {
width: 480px !important;
}

.tooltip:hover .tooltip-body {
visibility: visible;
}

.tooltip-top {
bottom: 100%;
left: 50%;
margin-left: -60px;
}
.tooltip-bottom {
top: 100%;
left: 50%;
margin-left: -60px;
}

.tooltip-left {
top: -5px;
right: 105%;
}

.tooltip-right {
top: -5px;
left: 105%;
}
