/*@import url('components/tag-card.css');*/
/*@import url('layouts/card-post.css');*/


@import url('layouts/preview-card.css');
img.fullpage-image {
    filter: grayscale(60%);
}

img:hover .fullpage-image {
	filter: blur(4px);
}

.bga-primary, .bga-primary-hover:hover {
    background-color: rgba(255,224,192,.3);
    color: #AD9781;
}
.bordered-left-primary {
    border-left: 6px solid #AD9781;
}

.bga-secondary, .bga-secondary-hover:hover {
    background-color: rgba(255,208,192,.3);
    color: #C39F93;
}

.bordered-left-secondary {
    border-left: 6px solid #C39F93;
}

.bordered-left-grey{border-left:6px solid #adb5bd;}.dark,.dark-hover:hover{color:#353b41,rgba(41, 40, 40, 0.707);}.bga-dark,.bga-dark-hover:hover{background-color:rgba(53,59,65,0.1);color:#6d757e;}.p1 {padding: 1rem;}

.liner {
  display: flex;
  align-items: flex-start;
  text-align: left;
}
.liner:after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background: #FF908A;
  min-width: 20px;
  margin: auto;
}
.liner:after {
  margin-left: 20px;
}

#fd .o-snackbar {
  border-top-right-radius: 0 !important; 
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  background-color: rgba(255,192,201,0.5) !important;
}

